
/*-------------------------------------------
	Secondary
-------------------------------------------*/


#secondary {

	margin: 35px 0 0 0;
	padding: 45px 0 0 0;
	text-align: center;
	border-top: 1px solid rgb(189, 189, 189);

}